.content {
	
	margin: 20px;	

	.left {

		float: left;

	}

	.right {

		float: right;

	}

	.hidden {

		display: none;

	}

	.wborder {

		margin: 5px;
		border: 1px solid #3B5998;
		-webkit-border-radius: 20px;
		-moz-border-radius: 20px;
		border-radius: 20px;
		min-height: 300px;

		.detail {
			
			margin:0;
			padding: 5px 15px;
			border-bottom: 1px solid #3B5998;
			
			&.last {
				border-bottom: none;
			}

			h4 {
			float: left;
			margin-right: 10px;
			}

			img {
				&.profile {
					position:relative;
					width: 130px;
					height: 150px;
				}
			}

			.red {

				p {

					color: #A80000;

				}

			}
		}

	}

}