.content {
  margin: 20px;
}
.content .left {
  float: left;
}
.content .right {
  float: right;
}
.content .hidden {
  display: none;
}
.content .wborder {
  margin: 5px;
  border: 1px solid #3B5998;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  min-height: 400px;
}
.content .wborder .detail {
  margin: 0;
  padding: 5px 15px;
  border-bottom: 1px solid #3B5998;
}
.content .wborder .detail.last {
  border-bottom: none;
}
.content .wborder .detail h4 {
  float: left;
  margin-right: 10px;
}
.content .wborder .detail img.profile {
  position: relative;
  width: 130px;
  height: 150px;
}
.content .wborder .detail .red p {
  color: #A80000;
}

.content .user-area{
	
	height: 200px;
	background: #ccc;
}

.content .user-area img.profile {
position: relative;
width: 100px;
height: 100px;
text-align: center;
}